.about-page-image-kate {
  width: 100%;
  border-bottom: 8px solid #f5cab3;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}

.margin-info {
  h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
  }
  h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 45px;
  }
}

.about-kate-image {
  position: relative;
  img {
    position: sticky;
  }
  .alex-logo-3 {
    position: absolute;
    top: 2px;
    width: 67%
  }
    p {
     font-family: 'Roboto Slab', serif;
  }
}

.paragraph-about-page {
  font-size: 19px;
  font-family: 'Roboto Slab', serif;
}

.alex-logo-3 {
  color: white;
  padding-left: 20px;
  padding-right: 5px;
  font-family: 'Roboto Slab', serif;
  z-index: 1000;
}

@media (max-width: 820px) {
  .margin-info {
    h3 {
      font-size: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }
    h2 {
      font-size: 25px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .paragraph-about-page {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .margin-bottom-about {
    margin-bottom: 55px;
  }
  .about-page-image-kate {
    width: 80%;
  }
  .alex-logo-3 img {
    width: 50%;
  }
}
