.about-page-image-kate {
  width: 100%;
  border-bottom: 8px solid #f5cab3;
}

.margin-info {
  margin-left: 10px;
  margin-right: 10px;
  h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
  }
  h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 45px;
  }
}

.about-kate-image {
  position: relative;
  h1 {
    position: absolute;
    top: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 5px;
    font-family: 'Roboto Slab', serif;
    z-index: 1000;
  }
  img {
    position: sticky;
  }
  p {
    font-family: 'Roboto Slab', serif;
  }
}

.paragraph-about-page {
  font-size: 19px;
  font-family: 'Roboto Slab', serif;
}
