// Specific CSS for your home-page
.banner-home-page {
    background-image: url(https://images.unsplash.com/photo-1518600892756-02ed67d750f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);
    padding-bottom: 18vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    border-bottom: 9px solid darkgrey;
  }

.nav-bar-home-page {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 9px;
  a {
    color: white;
    font-family: 'Roboto Slab', serif;
    margin-top: 9px;
    padding: 8px 21px;
      &:hover {
        color: white;
        text-decoration: none;
        background-color: black;
        transition: 0.5s;
    }
  }
}

.title-home-page {
  background-color: rgba(0,0,0,0.2);
  h1 {
    text-align: center;
    color: white;
    margin-top: 60px;
    font-size: 54px;
    font-family: 'Roboto Slab', serif;
  }
}

.home-page-image {
  width: 30%;

}

.margin-homepage {
  margin-top: 45vh;
}
