
<div class="footer1">
  <div>
    <h3>Email:</h3>
    <%= mail_to("alexlansdale1@gmail.com", name = "alexlansdale1@gmail.com", class: "button2") %>
  </div>
  <div>
    <h3>Phone:</h3>
    <p>07724041315</p>
  </div>
</div>
