<div class="nav-bar-home-page">
    <%= link_to "Home", root_path %>
    <%= link_to "Songs", songs_list_path %>
    <%= link_to "Gallery", gallery_path %>
    <%= link_to "Contact", contact_path %>
    <a href="https://www.facebook.com/Alexandra-Lansdale-Wedding-Singer-106306027697074/?modal=admin_todo_tour" target="#">Follow us <i class="fa fa-facebook-square"></i></a>
  </div>
