
  <div class="row margin-navbar-top">
    <div class="col-lg-4 about-kate-image ">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="3000">
      <%= image_tag ("kate2.png"), class: "about-page-image-kate"%>
    </div>
    <div class="carousel-item" data-interval="3000">
      <%= image_tag ("kate5.png"), class: "about-page-image-kate"%>
    </div>
    <div class="carousel-item" data-interval="3000">
      <%= image_tag ("kate7.png"), class: "about-page-image-kate"%>
    </div>
  </div>
</div>
      <h1>Alexandra Lansdale - Wedding Singer</h1>
    </div>
    <div class="col-lg-7 margin-info">
      <br>
      <br>
      <h2>About</h2>
        <h3>Singing range</h3>
        <p class="paragraph-about-page"><em>Soprano and Mezzo-Soprano</em></p>
        <h3>Training</h3>
        <p class="paragraph-about-page">Alex is a multi-instrumentalist and fully-trained vocalist, who graduated from the University of York in 2017. During her time at University, she performed in several musicals and operas, and sang with many different choirs. Whilst Alex began her training as a classical singer, she also trained as a musical theatre vocalist, and so offers a very versatile service in performing whatever is required. Prior to her training, she toured, competed and performed nationally and internationally with the Cantamus Girls’ Choir since the age of 13. This work took her to Malaysia, Singapore, Germany, Austria and Ireland. Alex understands the true importance of a wedding day, and prides herself on working closely with clients to provide them with a bespoke and unique service.</p>

        <h3>Previous Credits Includes</h3>
        <table class="table table-hover">
    <thead>
      <tr class="table-danger">
        <th scope="col">#</th>
        <th scope="col">Company</th>
        <th scope="col">Event</th>
        <th scope="col">Role</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Alexandra Lansdale</td>
        <td>Cameron & Emily Mc'Roberts Wedding</td>
        <td>Actor/Singer</td>
        <td>08-12-2020</td>
        <td>08-13-2020</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Chapterhouse Theatre Company</td>
        <td>Outdoor Theatre Show / Pride and Predjudice</td>
        <td>Actor/Singer</td>
        <td>05-15-2018</td>
        <td>09-13-2018</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Chapterhouse Theatre Company</td>
        <td>China Theatre Show / Little Women</td>
        <td>Actor/Singer</td>
        <td>02-15-2019</td>
        <td>04-13-2019</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Alexandra Lansdale</td>
        <td>Sam & Jess Davies Wedding</td>
        <td>Singer</td>
        <td>04-15-2020</td>
        <td>04-17-2020</td>
      </tr>
    </tbody>
  </table>
    </div>
  </div>


