<%= render "nav-bar" %>


<div class="background-contact-page">
  <div class="contact-info-alex">
    <div class="wrapping-contact-info">
      <h2>E-mail</h2>
      <br>
      <p>Please leave your <strong>Name</strong>, <strong>Phone Number</strong>, <strong>Venue</strong> and <strong>Wedding Date</strong></p>
      <p>Alex will get back to you ASAP</p>
      <p class="button-contact-page"><%= mail_to("alexlansdale1@gmail.com", name = "alexlansdale1@gmail.com", class: 'button-page') %></p>
      <br>

    </div>
  </div>
</div>






