<br>
<br>
<br>
<br>
<br>

  <div class="content-within-form">
    <form action="mailto:gareth@caryfamily.co.uk" method="post" enctype="text/plain" class="form-contact-page">
    Name:<br>
    <input type="text" name="name"><br>
    E-mail:<br>
    <input type="text" name="mail"><br>
    Comment:<br>
    <textarea rows="4" cols="50" name="comment" form="usrform">
Enter text here...</textarea><br><br>
    <input type="submit" value="Send">
    <input type="reset" value="Reset">
    </form>
  </div>


