

<div class="banner-home-page margin-navbar-top">
  <h1>Alexandra Lansdale - Wedding Singer</h1>
  <p><em>Professional Singer at the click of a button</em></p>
  <%= link_to "Book Now", contact_path, class: "button-home-page" %>
</div>
