<%= render "nav-bar1" %>

<div class="banner-home-page">
  <div class="title-home-page">
    <h1>Alexandra Lansdale - Wedding Singer</h1>
    <p><em>Wedding Singer at the click of a button</em></p>
  </div>
  <div class="button-home-page">
    <%= link_to "Book Now", contact_path, class: 'button-home' %>
  </div>
</div>

<h1 style="text-align: center;font-family: 'Roboto Slab', serif; font-size: 47px; border-bottom: 2px solid lightgrey; margin-top: 10px; margin-bottom: 10px; padding-bottom: 10px;">About - Alexandra</h1>

<div class="container">
  <div class="row margin-top-info">
   <div class="col-lg-4">
      <%= image_tag ("kate7.png"), class: "home-page-image" %>
   </div>
    <div class="col-lg-8 about-info-home-page">
      <h2>Singing range</h3>
      <br>
      <p><em>Soprano and Mezzo-Soprano</em></p>
      <br>
      <h2>Training & Experience</h2>
      <br>
      <p>Alex is a multi-instrumentalist and fully-trained vocalist, who graduated from the University of York in 2017. During her time at University, she performed in several musicals and operas, and sang with many different choirs. Whilst Alex began her training as a classical singer, she also trained as a musical theatre vocalist, and so offers a very versatile service in performing whatever is required. Prior to her training, she toured, competed and performed nationally and internationally with the Cantamus Girls’ Choir since the age of 13. This work took her to Malaysia, Singapore, Germany, Austria and Ireland. Alex understands the true importance of a wedding day, and prides herself on working closely with clients to provide them with a bespoke and unique service.</p>
    </div>
  </div>
</div>



  <audio class="audios" id="yes-audio" controls preload="yes-audio">
   <source src="audios/audiofile.mp3" type="audio/mpeg">
</audio>

<audio class="audios" id="yes-audio" controls preload="yes-audio">
   <source src="audios/makeyoufeelmylove.mp3" type="audio/mpeg">
</audio>

<%= render "footer" %>
