

<div class="banner-home-page margin-navbar-top">
  <br>
  <br>
  <div>
     <%= image_tag ("logo-home-page-2.png"), class: "alex-logo-2"%>
  </div>
  <p><em>Professional Singer at the click of a button</em></p>
  <%= link_to "Book Now", contact_path, class: "button-home-page" %>

</div>

