#yes-audio {

}

.audio-all-files {
  display: flex;
  justify-content: center;
}


.audio-file {
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px 25px;
  background-color: floralwhite;

}
