#yes-audio {

}

.audio-all-files {
  display: flex;
  justify-content: center;
}


.audio-file {
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px 25px;
  background-color: floralwhite;

}

@media (max-width: 880px) {
  .audio-all-files {
    display: grid;
  }
}

@media (max-width: 450px) {
  .audio-all-files {
    display: grid;
  }
  #yes-audio {
    width: 270px;
  }
  .audio-file {
    padding: 10px 10px;
  }
}

@media (min-width: 1000px) and (max-width: 1370px) {
  .audio-all-files {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0fr;
    margin-left: 20%;
    margin-right: 20%;
  }
  .audio-file {
    margin-bottom: 20px;
  }
}

