.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f5cab3;
   color: white;
   text-align: center;
   z-index: 1000;
   height: 40px;
   font-size: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
    a {
      display: flex;
      z-index: 20000;
      margin-left: 10px;
      margin-right: 10px;
      color: black;
    }
    a:hover {
      color: white;
      text-decoration: none;
    }
 }
